crates/tests/tools/header2rdl/tests/include/winrt/AccessControlManifestSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/accesscontrol/windows10"
           xmlns="http://schemas.microsoft.com/appx/manifest/accesscontrol/windows10"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>

  <xs:element name="AccessControl" type="CT_AccessControl" substitutionGroup="f:AccessControlChoice"/>

  <xs:complexType name="CT_AccessControl">
    <xs:all>
      <xs:element name="Register" type="CT_Register" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CT_Register">
    <xs:attribute name="Sddl" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>

