crates/tests/tools/header2rdl/tests/include/winrt/DesktopManifestSchema_v5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
           xmlns="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>

  <xs:attribute name="ThumbnailTypeOverlay" type="t:ST_ImageFile"/>

  <xs:element name="ItemType">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="Verb" maxOccurs="10000">
          <xs:complexType>
            <xs:attribute name="Id" type="t:ST_FileTypeAssociationSupportedVerbId" use="required" />
            <xs:attribute name="Clsid" type="t:ST_GUID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Type" type="ST_FileTypeOrStarWithDirectory" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ST_FileTypeOrStarWithDirectory">
    <xs:restriction base="t:ST_NonEmptyString">
      <xs:pattern value="(\*|(\.[^.\\]+))"/>
      <xs:pattern value="Directory"/>
      <xs:pattern value="Directory\\Background"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>


