crates/tests/tools/header2rdl/tests/include/winrt/UapManifestSchema_v18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
           xmlns="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:t2="http://schemas.microsoft.com/appx/manifest/types/2"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types/2"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>
  
   <xs:attribute name="RuntimeBehavior" type="t2:ST_RuntimeBehavior_UAP18" />
   <xs:attribute name="TrustLevel" type="t2:ST_TrustLevel_UAP18" />
   <xs:attribute name="EntryPoint" type="t:ST_EntryPoint" />

</xs:schema>

