crates/tests/tools/header2rdl/tests/include/um/printqueueproperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/windows/2011/08/printing/queueproperties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Property">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="String" type="xs:string" />
                            <xs:element name="Bool" type="xs:boolean" />
                            <xs:element name="Int32" type="xs:int" />
                        </xs:choice>
                        <xs:attribute name="Name" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="([^:])*" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
